html{
    height: 100%;
}
body{
    background: linear-gradient(maroon, #ccc);
}
p{
    text-align: center;
    color: #000;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
ul{
    margin-top: 100px;
    margin-left: 50px;
}
li{
    margin-top: 20px;
    text-align: left;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    font-family: cursive, sans-serif;
}